START
PUSHI 0
STOREG 0
PUSHI 0
STOREG 1
PUSHI 0
STOREG 2
PUSHI 0
STOREG 3
PUSHI 0
STOREG 4
PUSHI 0
STOREG 5
PUSHI 0
STOREG 6
PUSHI 0
STOREG 6
PUSHS "Introduza 5 números inteiros:"
WRITES
PUSHI 1
STOREG 5
L1:
PUSHG 5
PUSHI 5
INFEQ
JZ L2
PUSHGP
PUSHG 5
PUSHI 1
SUB
PUSHI 0
ADD
PADD
READ
ATOI
STORE 0
PUSHG 6
PUSHGP
PUSHG 5
PUSHI 1
SUB
PUSHI 0
ADD
PADD
LOAD 0
ADD
STOREG 6
PUSHG 5
PUSHI 1
ADD
STOREG 5
JUMP L1
L2:
PUSHS "A soma dos números é: "
WRITES
PUSHG 6
WRITEI
STOP